<div class="container-fluid get-ai-section">
    <div class="row">
        <div class="dropdown show">
            <button class="btn btn-secondary dropdown-toggle" data-display="static" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{#str}}get_ai_button, smartlink{{/str}}
            </button>
            <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenu2">
                {{#hasprompts}}
                    {{#prompts}}
                        <a class="dropdown-item run-prompt-btn" href="#" data-id="{{id}}">{{description}}</a>
                    {{/prompts}}
                {{/hasprompts}}
                {{^hasprompts}}
                    <a class="dropdown-item disabled" href="#">{{#str}}no_prompt_msg, smartlink{{/str}}</a>
                {{/hasprompts}}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle='modal' data-target='#ownPromptModal[data-moduleid="{{ moduleid }}"]'>{{#str}}createnew, core{{/str}}</a>
            </div>
        </div>
    </div>
    <div class="spinner d-none">
        <div class="justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>